# Travis file for ROS2 Java.
# Version 2

sudo: required

language: generic

os:
  - linux

cache:
  directories:
    - .autoconf
    - $HOME/.m2
    - $HOME/.gradle

services:
  - docker

env:
  global:
    - HOME_BUILD=${HOME}/build
    - ROS2WS=${HOME_BUILD}/ros2_java_ws
    - PYTHON_PATH=/usr/bin/python3
    - COMMIT=${TRAVIS_COMMIT::8}
    - ENV_PATH=${HOME_BUILD}/.env
    - DOCKER_IMG="$DOCKER_REPO:$DOCKER_DIST"

before_install:
  - docker login -e="$DOCKER_EMAIL" -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"
  - docker pull $DOCKER_IMG
  - cd $HOME_BUILD &&  env | grep -E '^TRAVIS_' > $ENV_PATH && env | grep -E '^COVERALLS_' >> $ENV_PATH && env | grep -E '^CI_' >> $ENV_PATH && echo -e "CI_BUILD_NUMBER=$TRAVIS_BUILD_NUMBER\nCI_PULL_REQUEST=$TRAVIS_PULL_REQUEST\nCI_BRANCH=$TRAVIS_BRANCH\nCI_BUILD_URL=" >> $ENV_PATH
  - echo "INSTALL/BUILD ROS2 AMENT..."
  - mkdir -p $HOME_BUILD/ament_ws/src
  - cd $HOME_BUILD/ament_ws
  - docker run -u "$UID" -it --rm -v $(pwd):$(pwd) -w $(pwd) $DOCKER_IMG sh -c "/usr/bin/wget https://gist.githubusercontent.com/Theosakamg/e6084cfafa6b7ea690104424cef970a2/raw/ament_java.repos"
  - docker run -u "$UID" -it --rm -v $(pwd):$(pwd) -w $(pwd) $DOCKER_IMG sh -c "/usr/bin/vcs import src < ament_java.repos"
  - rm -rf $HOME_BUILD/ament_ws/src/ament_java/ament_java && cp -R $HOME_BUILD/ros2java-alfred/ament_java $HOME_BUILD/ament_ws/src/ament_java/
  - docker run -u "$UID" -it --rm -v $(pwd):$(pwd) -w $(pwd) $DOCKER_IMG sh -c "src/ament/ament_tools/scripts/ament.py build --symlink-install --isolated"

script:
  - cd $HOME_BUILD && echo "Disable for validate new test task..." #docker run -u "$UID" -it --rm -v $(pwd):$(pwd) --env-file $ENV_PATH -w $(pwd) $DOCKER_IMG sh -c "cd ament_ws/ && . install_isolated/local_setup.sh && ament test --symlink-install --isolated --only ament_build_type_gradle"

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/4aac82b42245203edceb
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: never     # options: [always|never|change] default: always
